<main>
  <header>
    <a href="#" class="logo">TripTrove</a>
    <ul>
      <li><a href="chatUsuario.jsp">CHAT SERVICIO TECNICO</a></li>
      <li><a href="/maps">MAPA</a></li>
      <li><a (click)="logOut()">CERRAR SESION</a></li>
    </ul>
  </header>
  <br><br><br><br>

  <h2 class="titulito">Lugares Populares para ti,</h2>

  <div class="cajita">
  </div>

  <div class="icon-description">
    <i class='bx bxs-star'></i>
    <h2 class="titulito">Recomendados</h2>
  </div>
  <app-place-list-user class="app-place-list-user"></app-place-list-user>
</main>