@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #000000;
  text-decoration: none;
}
/* TODA LA SIDEBAR */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0));
    z-index: 1;
    transition: width 0.3s ease;
    padding-top: 20px;
}

/* TODO LO DE FORM */
.form-section {
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}

/* BOTONES DE SELECCION */
.theme-buttons {
    display: flex;
    gap: 10px;
}

.theme-btn {
    border: none;
    background: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.3s, box-shadow 0.3s;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

.theme-btn:hover, .theme-btn.active {
    background-color: #ff9800; 
    color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}

.material-icons {
    font-size: 24px; 
    color: #333; 
    transition: color 0.3s;
}

.theme-btn.active .material-icons {
    color: #fff;
}

.theme-btn:hover .material-icons {
    color: #fff; 
}


/* ACAMODOR SIDEBARD */
#sidebar.collapsed {
    width: 0;
    overflow: hidden;
}

#sidebar-content {
    padding: 20px;
    transition: padding 0.3s ease;
}

#sidebar.collapsed #sidebar-content {
    padding: 0;
}



/* BOTON PARA LA SIDEBARD */
#toggle-btn {
    width: 25px; 
    height: 25px; 
    background-color: #007BFF;
    color: white; 
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px; 
    padding: 10px;
    position: fixed; 
    top: 10px; 
    left: 10px; 
    z-index: 1000; 
}

#toggle-btn i {
    font-size: 24px; 
}


#sidebar.collapsed #toggle-btn {
    left: 10px;
}
/* BOTON PARA GENERAR RUTAS */
.submit-btn {
    background: linear-gradient(45deg, #1e7691, #29a1c6); /* Gradiente de color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px; /* Más redondeado */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.submit-btn:hover, .submit-btn:focus {
    transform: scale(1.05); /* Efecto de crecimiento */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más notable */
}
