<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
  <div class="login-wrapper">
    <h1>Sign Up</h1>

    <div class="input-box">
      <label for="email">Your email</label>
      <input type="email" name="email" id="email" [(ngModel)]="email" required>
    </div>

    <div class="input-box">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" [(ngModel)]="password" required>
    </div>

    <button type="button" class="btn" (click)="signUp()">Sign Up</button>

    <button type="button" class="google-btn" (click)="registerWithGoogle()">
      <div class="google-icon">
        <img src="https://www.svgrepo.com/show/475656/google-color.svg" alt="google logo">
      </div>
      <span>Sign Up with Google</span>
    </button>

    <div class="register-link">
      <p>Already have an account? <a routerLink="/login">Log In</a></p>
    </div>

    <button class="back-button" (click)="goBack()">
      <span class="material-icons">arrow_back_ios_new</span> Volver
    </button>
  </div>
</body>