<header>
  <a class="logo">TripTrove</a>
  <button class="menu-toggle">&#9776;</button>
  <ul class="nav">
    <li><a href="/about">ACERCA DE</a></li>
    <li><a href="/download">ANDROID</a></li>
    <li><a href="/association">ASOCIATE</a></li>
  </ul>
  <a class="login" href="/SingIn">INGRESAR</a>
</header>
<div class="parallax section2">
  <br><br><br><br><br><br><br><br><br><br><br><br>
  <h1>TU GUÍA VIAJERO</h1>
  <div class="content audi">
    <h2>DESCUBRE <br><span class="multiText"></span></h2>
  </div>
</div>
<script>
  window.onscroll = function () { scrollFunction() };

  function scrollFunction() {
    if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
      document.querySelector("header").classList.add("sticky");
    } else {
      document.querySelector("header").classList.remove("sticky");
    }
  }
</script>