<header>
  <a href="http://myxitech.gerdoc.com" class="logo">TripTrove</a>
  <ul>
    <li><a href="/about">ACERCA DE</a></li>
    <li><a href="/download">ANDROID</a></li>
    <li><a href="/login">INGRESAR</a></li>
  </ul>
</header>

 <div class="parallax section2">
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <h1>   TU GUÍA VIAJERO</h1>
    <div class="content audi">
        <h2>   DESCUBRE  <span class="multiText"></span></h2>
    </div>
</div>
<div class="contact-section">
  <div class="company-info">
      <div class="text-info">
          <h2>Trip Trove</h2>
          <p>Conoce nuestro centro de ayuda y Myxitech</p>
      </div>
          Nahum Josael Ramirez
          <!-- Bloque de "Contactanos" -->
          <div class="team-member">
              <h3>Contactanos</h3>
              <p>Numero: +52 1 55 6165 3040</p>
              <p>Redes Sociales: <a href="https://www.instagram.com/daani_moon/?utm_source=ig_web_button_share_sheet&igshid=OGQ5ZDc2ODk2ZA==" target="_blank">Daani_moon</a></p>
          </div>
      
      <!-- Bloque de "Compañia" -->
      <div class="Myxi-text-info">
          <h3>Compañia</h3>
          <p><a href="" target="_blank">Quienes somos</a></p>
      </div>
      <img src="/src/assets/images/logomyxi.jpeg" alt="Logo de TripTrove">

  </div>
</div>

