<div *ngFor="let category of categorizedPlaces">
  <h2>{{ category.category }}</h2>
  <div class="places-container">
    <div class="place-card" *ngFor="let place of category.places" (click)="showModal(place)">
      <img [src]="place.imageURL" alt="{{ place.name }}">
      <h3>{{ place.name }}</h3>
      <p>{{ place.description }}</p>
      <p>{{ place.datosGenerales }}</p>
      <p>{{ place.direccion }}</p>
      <p>{{ place.email }}</p>
      <p>{{ place.salasDeExhibicion?.join(', ') }}</p>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal" *ngIf="isModalOpen" (click)="closeModal()">
  <div class="modal-content" (click)="stopPropagation($event)">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>{{ selectedPlace?.name }}</h2>
    <img [src]="selectedPlace?.imageURL" alt="{{ selectedPlace?.name }}">
    <p>{{ selectedPlace?.description }}</p>
    <p>{{ selectedPlace?.datosGenerales }}</p>
    <p>{{ selectedPlace?.direccion }}</p>
    <p>{{ selectedPlace?.email }}</p>
    <p>{{ selectedPlace?.salasDeExhibicion?.join(', ') }}</p>
  </div>
</div>
