<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head><body>
  <div class="login-wrapper">
    <h1>Iniciar Sesión</h1>

    <div class="input-box">
      <label for="usuario">Usuario</label>
      <input type="text" name="usuario" id="usuario"  [(ngModel)]="usuario" required>
      <i class='bx bxs-user'></i>
    </div>

    <div class="input-box">
      <label for="contrasenia">Contraseña</label>
      <input type="password" name="contrasenia" id="contrasenia" [(ngModel)]="contrasenia" required>
      <i class='bx bxs-lock-alt'></i>
    </div>

    <button type="button" class="btn" (click)="iniciarSesion()">Iniciar sesión</button>

    <button type="button" class="google-btn" (click)="iniciarSesionConGoogle()">
      <div class="google-icon">
        <img src="https://www.svgrepo.com/show/475656/google-color.svg" alt="google logo">
      </div>
      <span>Iniciar sesión con Google</span>
    </button>

    <div class="register-link">
      <p>¿No tienes una cuenta? <a routerLink="/sign-up">Registro</a></p>
    </div>
      <button class="back-button" (click)="regresarInicio()">
        <span class="material-icons">arrow_back_ios_new</span> Volver
      </button>
    
  </div>
</body>