@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");


* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #000000;
    text-decoration: none;
}

body {
    margin-top: 100px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.9s;
    padding: 40px 100px;
    z-index: 100000;
    font-size: 18px;
}

header.sticky .login {
    color: #ffffff;
}

header.sticky .nav li:nth-child(2) a {
    color: #ffffff;
}

header.sticky {
    padding: 5px 100px;
    background: #29a1c6;
}

header.sticky .logo,
header.sticky ul li a {
    color: #ffffff;
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.5s;
    overflow: hidden;
}

header ul li a::before,
header ul li a::after {
    content: "";
    position: absolute;
    width: 120%;
    height: 3px;
    background-color: #000;
    z-index: -1;
    transition: transform 0.8s;
    border-radius: 5px;
}

header ul li a::before {
    top: 0;
    left: -10%;
    transform: scaleX(0);
    transform-origin: right;
}

header ul li a::after {
    bottom: 0;
    right: -10%;

    transform: scaleX(0);
    transform-origin: left;
}

header ul li a:hover {
    color: #000000;
}

header ul li a:hover::before,
header ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

header ul li a.active {
    font-weight: bold;
    font-size: 120%;
}



nav ul {
    padding: 0;
    list-style: none;
    text-align: right;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para la sección hero */

.hero {
    background-color: #f2f2f2;
    padding: 50px 0;
    text-align: center;
}

.hero h2 {
    margin: 0;
}

.search-bar {
    margin-top: 20px;
}

.search-bar input {
    width: 40%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para la sección de categorías */

.categories {
    background-color: #fff;
    padding: 50px 0;
}

.categories h2 {
    margin: 0;
}

.categories ul {
    padding: 0;
    list-style: none;
}

.categories ul li {
    margin-bottom: 10px;
}

.categories ul li a {
    text-decoration: none;
    color: #333;
}

/* Estilos para la sección de listados destacados */

.featured {
    padding: 50px 0;
}

.featured h2 {
    margin: 0;
}

.listings {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.listing {
    width: 30%;
    margin-bottom: 30px;
}

.listing img {
    width: 100%;
    border-radius: 5px;
}

.listing h3 {
    margin: 10px 0;
}

.listing p {
    color: #666;
}

.listing a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}


footer {
    color: white;
    text-align: center;
    padding: 20px 0;
    /* Ajusta esto según la necesidad */
    margin-top: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}

footer a,
footer div {
    display: flex;
    /* Usa flexbox dentro de los enlaces y divs para alinear los SVG */
    align-items: center;
    /* Centra los elementos verticalmente dentro de los enlaces */
    justify-content: center;
    /* Centra los contenidos horizontalmente dentro de los enlaces */
    margin: 0 10px;
    /* Espaciado entre elementos */
}

footer svg {
    width: 24px;
    /* Tamaño estándar para los SVG */
    height: 24px;
    /* Tamaño estándar para los SVG */
    margin-right: 5px;
    /* Espacio a la derecha de los SVG para separarlos del texto */
}

footer p {
    margin: 0 20px 0 0;
    /* Margen para separar el texto del resto de elementos */
}
.partner-callout {
    background-color: #f8f8f8; /* Fondo claro para mayor visibilidad */
    padding: 20px 0;
    text-align: center;
}

.partner-callout .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.partner-callout img {
    max-width: 400px; /* Ajusta según el tamaño de tu diseño */
}

.partner-callout .callout-content h1 {
    font-size: 24px;
    color: #333;
}

.partner-callout .callout-content p {
    font-size: 18px;
    color: #666;
}

.partner-callout .btn {
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
